## Python regex

In [28]:
import pandas as pd
import re
import os

In [29]:
#Felt creating a class would make it cleaner and effecient
class data_cleaning:
    df = None
    keywords = {}
    def __init__(self):
        pass
    #Load Data    
    def load_data(self, file_path):
        if file_path is None:
            return None
        else:
            df = pd.read_csv(file_path)
            print(df.shape)
        
        self.df = df
        return True
    #Store matching keywords
    def add_keywords(self, item):
        self.keywords.update(item)
        return True
    

    # def keyword_replace(self, old, new, text):
    #     self.df['details'] = self.df['details'].apply(lambda x: x.replace("'", ''))
    #     if re.search(rf'\b{re.escape(old)}\b', text, flags=re.IGNORECASE):
    #         text=re.sub(rf'\b{re.escape(old)}\b' , new, text)
    #     else:
    #         next
    #     # re.search(rf'\b{re.escape('MCDONALDS')}\b', d, flags=re.IGNORECASE)
    #     return text
    # def apply_keyword_replace(self, old, new):
    #     self.df['details'] = self.df['details'].apply(lambda x: self.keyword_replace(old, new, x))
    
    #replace one word with another e.g. 'Chirnside' --> 'MCDONALDS'
    def apply_keyword_replace(self, old, new):
        def keyword_replace(text):
            # Remove apostrophes
            cleaned_text = text.replace("'", '')

            if re.search(rf'\b{re.escape(old)}\b', cleaned_text, flags=re.IGNORECASE):
                cleaned_text = re.sub(rf'\b{re.escape(old)}\b', new, cleaned_text, flags=re.IGNORECASE)

            return cleaned_text

        self.df['details'] = self.df['details'].apply(keyword_replace)
        return True
    

    # Extract subcategory function, search transaction details with keywords dictionary, then create subcategory
    def apply_extract_subcategory(self):
        def extract_subcategory(text):
            cleaned_text = re.sub(r"[^a-zA-Z0-9_]+", ' ', text)  # Remove special characters and multiple spaces
            for category, category_keywords in self.keywords.items():
                for keyword in category_keywords:
                    if re.search(rf'\b{re.escape(keyword)}\b', cleaned_text, flags=re.IGNORECASE) or cleaned_text.lower().find(keyword.lower()) != -1:
                        return keyword
            return 'Other'
        self.df['Subcategory'] = self.df['details'].apply(extract_subcategory) 
        return True           

    # Apply the function to the 'Details' column
    # df['Subcategory'] = df['cln'].apply(lambda x: extract_subcategory(x, keywords))

In [30]:
# Prepate data
d = data_cleaning()
print(os.getcwd())
d.load_data('../data/bank_transactions.csv')
d.df.head()

/Users/gavivignes/Documents/GitHub/personal-projects/2023 bank statements analysis/python
(528, 8)

,date_of_transaction,month_of_transaction,details,transaction,deposit,cc_balance_paid,card,category
0,1/1/2023,1/1/2023,SPOTIFY SYDNEY,-12,(null),False,AMEX,Streaming
1,2/1/2023,1/1/2023,UBER EATS HELP.UBER.COM,-32,(null),False,AMEX,Fast Food
2,3/1/2023,1/1/2023,PAYMENT FROM VITHUSHA VIGNESWARAMOORTHYÂ,(null),10,False,ANZ_Savings,Other
3,3/1/2023,1/1/2023,SQ SCISSORS STYLE BAR DUNDAS VALLEYÂ,-30,(null),False,ANZ_Savings,Other
4,3/1/2023,1/1/2023,STORE MCDONALDS PARÂ,-19.35,(null),False,ANZ_Savings,Fast Food

In [31]:
# Keywords dictionary
keywords = {
    'Streaming': ['NETFLIX', 'PRIME', 'SPOTIFY', 'DISNEY', 'GOOGLE', 'STREAMOTION'],
    'Learning': ['GOOGLE', 'LINKEDIN', 'COURSERA'],
    'Other': ['Other'],
    'Voluntary HECS repayment': ['ATO PAYMENT'],
    'Gym/Fitness': ['TO ZAC NAYLOR PT', 'MY MUSCLE CHEF', 'DBSGenesis'],
    'Fast Food': ['MCDONALDS', 'KFC', 'UBER EATS', 'DOORDASH', 'FISH', 'BERLIN', 'GRILLD', 'UBER PASS', 'UBER ONE', 'HUNGRY JACKS', 'MENULOG', 'NANDOS', 'FREEDOM'],
    'Moving UK': ['IHS', 'BB-UKVI'],
    'Cinemas': ['EVENT'],
    'Travel': ['INTREPID ', 'THAI AIRWAYS', 'GRAB', 'WISE', 'SINGAPORE', 'MARRIOT', 'TRAVEL INSURANCE'],
    'Amazon Shopping': ['AMAZON'],
    'Groceries/Petrol': ['WOOLWORTHS', 'COLES', '7-ELEVEN'],
    'Internet/Mobile': ['OPTUS', 'KOGAN'],
    'Renovation': ['TO ASNU', 'ANZ MOBILE BANKING PAYMENT', 'P MARIANAYAGAM'],
    'Credit Card balance paid': ['TO NAB CARD AUTOPAY', 'ANZ M-BANKING', 'TO AMERICAN EXPRESS'],
    'Salary': ['FROM RESTPAYROLL'],
    'Clothing': ['M J BALE', 'THE ACADEMY BRAND', 'UNIQLO'],
    'Public/Private Transport costs': ['UBER TRIP', 'SERVICE NSW', 'TRANSPORTFORNSW'],
}
d.add_keywords(keywords)

True

In [32]:
d.keywords

{'Streaming': ['NETFLIX',
  'PRIME',
  'SPOTIFY',
  'DISNEY',
  'GOOGLE',
  'STREAMOTION'],
 'Learning': ['GOOGLE', 'LINKEDIN', 'COURSERA'],
 'Other': ['Other'],
 'Voluntary HECS repayment': ['ATO PAYMENT'],
 'Gym/Fitness': ['TO ZAC NAYLOR PT', 'MY MUSCLE CHEF', 'DBSGenesis'],
 'Fast Food': ['MCDONALDS',
  'KFC',
  'UBER EATS',
  'DOORDASH',
  'FISH',
  'BERLIN',
  'GRILLD',
  'UBER PASS',
  'UBER ONE',
  'HUNGRY JACKS',
  'MENULOG',
  'NANDOS',
  'FREEDOM'],
 'Moving UK': ['IHS', 'BB-UKVI'],
 'Cinemas': ['EVENT'],
 'Travel': ['INTREPID ',
  'THAI AIRWAYS',
  'GRAB',
  'WISE',
  'SINGAPORE',
  'MARRIOT',
  'TRAVEL INSURANCE'],
 'Amazon Shopping': ['AMAZON'],
 'Groceries/Petrol': ['WOOLWORTHS', 'COLES', '7-ELEVEN'],
 'Internet/Mobile': ['OPTUS', 'KOGAN'],
 'Renovation': ['TO ASNU', 'ANZ MOBILE BANKING PAYMENT', 'P MARIANAYAGAM'],
 'Credit Card balance paid': ['TO NAB CARD AUTOPAY',
  'ANZ M-BANKING',
  'TO AMERICAN EXPRESS'],
 'Salary': ['FROM RESTPAYROLL'],
 'Clothing': ['M J BALE', 'THE ACADEMY BRAND', 'UNIQLO'],
 'Public/Private Transport costs': ['UBER TRIP',
  'SERVICE NSW',
  'TRANSPORTFORNSW']}

In [33]:
d.apply_keyword_replace("CHIRNSIDE", 'MCDONALDS')

True

In [34]:
# d.df.query('category == "Fast Food" & card == "AMEX"')

In [35]:
d.apply_extract_subcategory()

True

In [36]:
d.df.head()

,date_of_transaction,month_of_transaction,details,transaction,deposit,cc_balance_paid,card,category,Subcategory
0,1/1/2023,1/1/2023,SPOTIFY SYDNEY,-12,(null),False,AMEX,Streaming,SPOTIFY
1,2/1/2023,1/1/2023,UBER EATS HELP.UBER.COM,-32,(null),False,AMEX,Fast Food,UBER EATS
2,3/1/2023,1/1/2023,PAYMENT FROM VITHUSHA VIGNESWARAMOORTHYÂ,(null),10,False,ANZ_Savings,Other,Other
3,3/1/2023,1/1/2023,SQ SCISSORS STYLE BAR DUNDAS VALLEYÂ,-30,(null),False,ANZ_Savings,Other,Other
4,3/1/2023,1/1/2023,STORE MCDONALDS PARÂ,-19.35,(null),False,ANZ_Savings,Fast Food,MCDONALDS

In [37]:

#Good, in this example I wanted to make sure all fast food transactions had a subcategory (i.e specific merchant) and not other
d.df.query('Subcategory == "Other" & category == "Fast Food"')

Empty DataFrame
Columns: [date_of_transaction, month_of_transaction, details, transaction, deposit, cc_balance_paid, card, category, Subcategory]
Index: []

In [38]:
df_copy = d.df.copy()

In [39]:
df_copy.head()

,date_of_transaction,month_of_transaction,details,transaction,deposit,cc_balance_paid,card,category,Subcategory
0,1/1/2023,1/1/2023,SPOTIFY SYDNEY,-12,(null),False,AMEX,Streaming,SPOTIFY
1,2/1/2023,1/1/2023,UBER EATS HELP.UBER.COM,-32,(null),False,AMEX,Fast Food,UBER EATS
2,3/1/2023,1/1/2023,PAYMENT FROM VITHUSHA VIGNESWARAMOORTHYÂ,(null),10,False,ANZ_Savings,Other,Other
3,3/1/2023,1/1/2023,SQ SCISSORS STYLE BAR DUNDAS VALLEYÂ,-30,(null),False,ANZ_Savings,Other,Other
4,3/1/2023,1/1/2023,STORE MCDONALDS PARÂ,-19.35,(null),False,ANZ_Savings,Fast Food,MCDONALDS

In [40]:
df_copy.Subcategory.unique()

array(['SPOTIFY', 'UBER EATS', 'Other', 'MCDONALDS', 'TRANSPORTFORNSW',
       'KFC', 'FROM RESTPAYROLL', 'OPTUS', 'PRIME', 'DISNEY',
       'STREAMOTION', 'BERLIN', 'GRILLD', 'NETFLIX', 'EVENT', 'GOOGLE',
       'AMAZON', 'DBSGenesis', 'TRAVEL INSURANCE', 'SERVICE NSW',
       'P MARIANAYAGAM', 'ANZ MOBILE BANKING PAYMENT', 'ATO PAYMENT',
       'TO ZAC NAYLOR PT', 'COLES', 'FISH', 'IHS', 'UBER PASS',
       'UBER ONE', 'M J BALE', 'WOOLWORTHS', 'UBER TRIP',
       'MY MUSCLE CHEF', 'FREEDOM', 'DOORDASH', 'TO ASNU', 'HUNGRY JACKS',
       'KOGAN', 'MENULOG', 'INTREPID ', 'THAI AIRWAYS', 'SINGAPORE',
       'WISE', 'NANDOS', 'THE ACADEMY BRAND', 'MARRIOT', 'UNIQLO', 'GRAB'],
      dtype=object)

In [41]:
df_copy.to_csv('../data/bank_transactions_final.csv', index= False)